.App {
  text-align: center;
}

/* #table-head-row{
	padding: 2vh;
} */
#table-head-row > th{
	border: 1px solid black;
	padding: 1vh;
	margin: 1vh;
	font-size: 1.6rem;
}

.table-row {
	gap: 10px;
}

.table-row > td{
	border: 1px solid black;
	padding: 1vw;
	font-family: cursive;
	font-size: 1.2rem;
}